.wrapper {
    text-align: left;

    .small-column {
        width: 200px;
        display: inline-block;
    }
    .big-column {
        width: 250px;
        display: inline-block;
    }
    .gray {
        background-color: #eee;
    }
}


.line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    .btn {
        height: 55px;
        margin: 0 5px;
    }
}

.footer {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
